/* Make text look crisper and more legible in all browsers */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
input[type="file"]:focus-visible {
  outline: 0.125rem solid #4d65ff;
  outline-offset: 0.125rem;
}

/* Set color style to inherit */
.inherit-color * {
  color: inherit;
}

/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child,
.w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}

/* Get rid of bottom margin on last element in any rich text element */
.w-richtext > :last-child,
.w-richtext ol li:last-child,
.w-richtext ul li:last-child {
  margin-bottom: 0 !important;
}

/* Make sure containers never lose their center alignment */
.container-medium,
.container-small,
.container-large {
  margin-right: auto !important;
  margin-left: auto !important;
}

/* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
*/
/*
a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
*/

/* Apply "..." after 3 lines of text */
.text-style-3lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text-style-2lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Adds inline flex display */
.display-inlineflex {
  display: inline-flex;
}

/* These classes are never overwritten */
.hide {
  display: none !important;
}

@media screen and (max-width: 991px) {
  .hide,
  .hide-tablet {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .hide-mobile-landscape {
    display: none !important;
  }
}
@media screen and (max-width: 479px) {
  .hide-mobile {
    display: none !important;
  }
}

.margin-0 {
  margin: 0rem !important;
}

.padding-0 {
  padding: 0rem !important;
}

.spacing-clean {
  padding: 0rem !important;
  margin: 0rem !important;
}

.margin-top {
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-top {
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-right {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-right {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-bottom {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-bottom {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.margin-left {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-left {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-horizontal {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-horizontal {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-vertical {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-vertical {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

html {
  font-size: calc(0.625rem + 0.41666666666666663vw);
}
@media screen and (max-width: 1920px) {
  html {
    font-size: calc(0.625rem + 0.41666666666666674vw);
  }
}
@media screen and (max-width: 1440px) {
  html {
    font-size: calc(0.25rem + 0.8333333333333333vw);
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: calc(-0.43750000000000067rem + 1.6666666666666676vw);
  }
}
@media screen and (max-width: 1080px) {
  html {
    font-size: calc(0.12500000000000044rem + 0.8333333333333326vw);
  }
}
@media screen and (max-width: 960px) {
  html {
    font-size: 1rem;
  }
}
@media screen and (max-width: 720px) {
  html {
    font-size: calc(0.6265560165975104rem + 0.8298755186721991vw);
  }
}
@media screen and (max-width: 479px) {
  html {
    font-size: 1rem;
  }
}
@media screen and (max-width: 240px) {
  html {
    font-size: calc(0.7489539748953975rem + 1.6736401673640167vw);
  }
}

.logos_grad-2 {
  background-image: linear-gradient(
    -90deg,
    var(--base-color-neutral--white) 27%,
    rgba(0, 0, 0, 0)
  );
}
.logos_grad-1 {
  background-image: linear-gradient(
    90deg,
    var(--base-color-neutral--white) 27%,
    rgba(0, 0, 0, 0)
  );
}

.os_bg {
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0),
    var(--base-color-neutral--white) 50%,
    var(--base-color-neutral--white)
  );
}
.minimalist_bgf {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    var(--theme--white) 100%,
    var(--base-color-neutral--white)
  );
}

.testimonials_sticky_bg {
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0),
    var(--base-color-neutral--white)
  );
}
.ollie_grad {
  background: linear-gradient(
    0deg,
    var(--base-color-neutral--white) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
@media screen and (min-width: 992px) {
  :root,
  [data-theme="light"],
  [data-theme="dark"] [data-theme="invert"] {
    --theme--black: var(--base-color-neutral--black);
    --theme--white: var(--base-color-neutral--white);
  }
  /* theme dark */
  [data-theme="dark"],
  [data-theme="invert"],
  [data-theme="light"] [data-theme="invert"] {
    --theme--white: var(--base-color-neutral--black);
    --theme--black: var(--base-color-neutral--white);
  }

  /* apply colors */
  :is(c, :where([data-theme]:not([data-theme="inherit"]))) {
    --theme--white: var(--base-color-neutral--black);
    --theme--dark: var(--base-color-neutral--white);
  }

  .custom_button:hover .custom_button_line {
    transform: translate(0%, 0%);
  }

  .footer_link:hover::after {
    width: 100%;
  }
  .os_tabs_link:hover .os_inner_box {
    opacity: 1;
  }

  .header_bg {
    -webkit-mask-image: url("https://uploads-ssl.webflow.com/65f8428bc56b2d71733fa358/66041c9a6917e1c1c35efee5_Desktop%20-%201.svg");
    mask-image: url("https://uploads-ssl.webflow.com/65f8428bc56b2d71733fa358/66041c9a6917e1c1c35efee5_Desktop%20-%201.svg");
    -webkit-mask-repeat: repeat;
    mask-repeat: repeat;

    /* background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.14) 0%, rgba(255, 255, 255, 0.14) 0.01%, rgba(153, 153, 153, 0.00) 100%); */
    background-image: radial-gradient(
      circle at var(--pointer-x) var(--pointer-y),
      rgba(255, 255, 255, 0.1) 0%,
      rgba(153, 153, 153, 0) 100%
    );
  }
  .header_bg-grad {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle at var(--pointer-x) var(--pointer-y),
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 30%
    );
  }
  /* Hover state - trigger effect */

  /* Ollie screens shine effect */
  .header_image-wrapper::before {
    content: "";
    background: conic-gradient(transparent 270deg, white, transparent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    z-index: -3;
    animation: rotate 15s linear infinite;
  }
  .header_image-wrapper {
    --offset: 0.87px;
  }
  /* Overlay */
  .header_image-wrapper::after {
    content: "";
    z-index: -2;

    background: #141414;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
  }
}
@media screen and (max-width: 991px) {
  .ollie_pane::before {
    display: none;
  }
  .ollie_tab_link.w--current .ollie_icon_wrapper {
    color: var(--base-color-neutral--white) !important;
  }
  .ollie_tab_link.w--current .ollie_icon_wrapper::after {
    background: linear-gradient(180deg, white 0%, #a6a6a6 100%) !important;
  }
  .ollie_tab_link.w--current::after {
    background: var(--base-color-neutral--white) !important;
  }

  .ollie_tab_link::before {
    outline: 1px solid white !important;
    border-radius: 0.168125rem;
  }
  .ollie_icon_wrapper::after {
    background: var(--base-color-neutral--white) !important;
  }
}
.testimonials_item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.375rem;
  border: 1px solid var(--base-color-neutral--black);
  opacity: 0.25;
  left: 0;
  top: 0;
}

.ollie_tab_link:hover .ollie_inner_box {
  opacity: 0.12;
}

.ollie_grad-bg {
  background: linear-gradient(
    0deg,
    var(--base-color-neutral--white) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

[data-btn="clip"] {
  will-change: transform;
}

.custom_button_line {
  transform-origin: right center;
  transition: all 0.3s ease-in-out;
  transform: translate(100%, 0%);
  border-radius: 10px;
}

.custom_button_icon svg {
  overflow: hidden !important;
}
.custom_button {
  position: relative; /* Ensure the pseudo-element positions relative to this */
}
.custom_button.is-text::before {
  display: none;
}
.custom_button.is-text::after {
  display: none;
}

.custom_button::before {
  content: "";
  transition: all 0.3 ease-in-out;
  background: conic-gradient(
    transparent 270deg,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  z-index: -3;

  animation: rotate 7s linear infinite;
}
.custom_button {
  --offset: 0.87px;
}
/* Overlay */
.custom_button::after {
  content: "";
  z-index: -2;

  background: #141414;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

.button {
  --offset: 0.87px;
}
.button.is-nav:hover::after {
  background-color: #bcf870;
}

.button.is-grad:hover::after {
  background-color: #bcf870;
}
.button.is-nav::after {
  background-color: #161e0e;
  content: "";
  z-index: -1;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  transition: background-color 0.3s ease-in-out;
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

.button.is-nav::before {
  content: "";
  transition: all 0.3 ease-in-out;
  background: linear-gradient(
      132deg,
      rgba(188, 248, 112, 0.72) 0%,
      rgba(188, 248, 112, 0) 44.36%
    ),
    rgba(188, 248, 112, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  z-index: -3;
  animation: rotate 7s linear infinite;
}

.button.is-grad::before {
  content: "";
  background: linear-gradient(
    132deg,
    rgba(188, 248, 112, 0.72) 0%,
    rgba(188, 248, 112, 0) 55.36%
  );

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  z-index: -3;
  animation: rotate 7s linear infinite;
}

.button.is-grad::after {
  background-color: #161e0e;
  content: "";
  z-index: -2;
  transition: background-color 0.3s ease-in-out;

  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

@keyframes bgsize {
  0% {
    background-size: 75%;
  }
  50% {
    background-size: 300%;
  }
  100% {
    background-size: 75%;
  }
}

.header_bg_screen::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  margin: -1px;
  background: linear-gradient(
      157deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 23.68%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.32) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.16);
  border-radius: 0.72756rem;
}

.header_bg_screen::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: #1f1f1f;
  border-radius: 0.72756rem;
}
.ollie_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  margin: -1px;
  background: linear-gradient(
      157deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 23.68%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.32) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.16);
  border-radius: 50%;
}

.ollie_wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: linear-gradient(180deg, #3f3f3f 0%, #181818 100%);

  border-radius: 50%;
}
.header_bg_gradient {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    var(--base-color-neutral--white) 67.03%,
    var(--base-color-neutral--white) 67.03%
  );
}

.nav-up {
  top: -100%;
}
.nav-down {
  top: 0%;
}

#nav {
  transition: top 0.7s ease-in-out;
}

/* OLLIE ANIMATION */
.ollie_pane::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  margin: -1px;
  background: linear-gradient(
      157deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 23.68%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.32) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.16);
  border-radius: 0.72756rem;
}

.ollie_pane::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: #1f1f1f;
  border-radius: 0.72756rem;
}
/* CUTTTTTTTTTT */
.ollie_icon_wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: var(--base-color-neutral--black);
  opacity: 0.12;
  border-radius: 50%;
}
.ollie_tab_link.w--current .ollie_icon {
  opacity: 83%;
}

.ollie_tab_link.w--current .ollie_icon_wrapper {
  color: var(--base-color-neutral--white);
}
.ollie_tab_link.w--current .ollie_icon_wrapper::after {
  background: linear-gradient(
    180deg,
    var(--base-color-neutral--black) 0%,
    #a6a6a6 100%
  );
  opacity: 1;
}
.ollie_tab_link.w--current::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: var(--base-color-neutral--black);
  opacity: 0.1;
  border-radius: 0.5rem;
}

.ollie_tab_link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  outline: 1px solid var(--base-color-neutral--black);
  opacity: 0.24;
  border-radius: 0.5rem;
}

.footer_social::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -3;
  background: var(--base-color-neutral--black);
  opacity: 0.08;
  border-radius: 50%;
}
.footer_social::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: transparent;
  border: 1px solid var(--base-color-neutral--black);
  opacity: 0.24;
  border-radius: 50%;
}

.footer_link::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -3px;
  height: 0.7px;
  border-radius: 10px;
  width: 0%;
  left: 0;
  transform-origin: center center;
  background-color: currentcolor;
  transition: width 0.2s ease-in-out;
}

.ollie_tab_link.w--current .ollie_inner_box {
  opacity: 0;
}
.os_tabs_link.w--current .os_inner_box {
  opacity: 0;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}

.word {
  overflow: hidden;
  padding-bottom: 0.1em;
  margin-bottom: -0.1em;
  transform-origin: bottom;
}
@media screen and (min-width: 991px) {
  .nav_component {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.ticker {
  animation: marquee-horizontal 18s linear infinite;
  /* manipulate the speed of the marquee by changing "40s" line above*/
}

.logo_grid.second {
  animation: marquee-horizontal-inv 45s linear infinite;
}
.logo_grid.first {
  animation: marquee-horizontal 45s linear infinite;
}

@keyframes marquee-horizontal {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-108%);
  }
}

@keyframes marquee-horizontal-inv {
  from {
    transform: translateX(-108%);
  }
  to {
    transform: translateX(0%);
  }
}

.line {
  position: relative;
}
.line-mask {
  position: absolute;
  background-color: #fff;
  bottom: 0;
  right: 0;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.nav_menu_lines path {
  fill: currentColor !important;
  stroke: currentColor !important;
}

.header_image_droppdown_item.w--current .header_image_dropdown_checkbox {
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .nav_menu_link.nav::before {
    display: none;
  }
  .nav_menu_link.nav::after {
    display: none;
  }
  .nav_menu_link::before {
    content: "";
    border: 1px solid var(--base-color-neutral--black);
    position: absolute;
    width: 100%;
    opacity: 0.24;
    left: 0;
    bottom: 0;
  }
  .nav_menu_link.last::before {
    display: none;
  }
  .nav_menu_link::after {
    content: "";
    background: url("https://uploads-ssl.webflow.com/65f8428bc56b2d71733fa358/660e7be27bdf70ca6539e9cf_12442.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 0;
  }
  .nav_menu_link path {
    fill: currentcolor !important;
  }
}
